.card {
    display: block;
    text-decoration: none;
    background-color: #f2efef;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    color: black;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card:hover .card-title {
    color: #d32f2f;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.card-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.card-description {
    font-size: 16px;
    color: #666;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
