.header {
    background-color: #000;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    z-index: 1000; 
}
  
.header-logo {
    height: 40px;
    width: auto;
}
  